@charset "UTF-8";

:root {
    --cor1: #4E41C7;
    --cor2: #544C9B;
    --cor3: #3B26F0;
    --cor4: #4E4A70;
    --cor5: #3A3945;
    --cor6: #33313D;
}







*{
    margin: 0px;
    padding: 0px;
}


@font-face {
    font-family: 'base';
    src: url('/fonte/Gameplay.ttf') format('truetype');
}


body{
    background-color: rgba(2, 2, 2, 0.842);
    width:100vw;
    height: 100vh;
    overflow-x: hidden;
}

header{
    background-color: rgba(0, 0, 0, 0.958);    
    text-align: center;
    color: white;
    padding: 50px;
    font-family: 'base', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
    height: 100px;
}

nav{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.39);
    padding: 15px;
    text-transform: uppercase;
    font-family: 'base', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: green;
}

.link{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 10px;
    gap: 30px;
    margin-right: 15px;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:hover {
    color: greenyellow;
}

a:active {
    color: rgb(10, 255, 92);
}

.lc {
    background-color: var(--cor3);
    border-radius: 10px;
    width: 100px;
    padding: 10px; 
}

.lc > a {
    text-align: center;
    border-radius: 10px;
}

.download {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 0, 0);
    padding: 10px;
    border-radius: 10px;
}

a.download:hover {
    text-decoration: underline;
}

section.imagem {
    background-color: rgb(51, 51, 51);
    color: white;
}

section.imagem > .item > p{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.514);
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 20px;
    padding-right: 20px;
    text-shadow: 2px 2px 0px black;
    position: absolute;
    top: 420px;
    left: 30px;
    text-transform: uppercase;
    font-size: 1.2em;
    font-family: 'base', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 400px;
    text-align: justify;
}

section#img01 {
    background-image: url('../image/image1.jpg');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 900px;
}

section#img02 {
    display: inline-block;
    position: absolute;
    left: 750px;
    top: 380px;
    width: 0px;
}

.principal {
    width: 70%;
    margin: auto;
    background-color: white;
    line-height: 1.8;
    text-align: justify;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 1.5em;
}

aside > h1 {
    background-color: #3A3945;
    text-transform: uppercase;
}

aside{
    background-color: #4E41C7;
    border-radius: 10px;
    margin: 10px;
}

/* APAGA ESSE TESTE AÍ, ERA SÓ PARA DESTACAR A MENSAGEM*/

#teste {
    background-color: greenyellow;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
    width: 100%;
    bottom: 0;
}

footer strong:hover{
    text-decoration: underline;
    color: var(--cor1);
}